function List.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function List.dispose 2
push argument 0
pop pointer 0
push this 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
pop local 1
push local 0
call Pole.getNext 1
pop local 0
push local 1
call Pole.dispose 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function List.generateRandomPole 2
push argument 0
pop pointer 0
push constant 10
push constant 200
call Random.dist 2
pop local 1
push constant 511
push local 1
call Pole.new 2
pop local 0
push local 0
return
function List.pushBack 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 0
push argument 1
pop this 1
goto IF_END0
label IF_FALSE0
push this 1
push argument 1
call Pole.setNext 2
pop temp 0
push this 1
call Pole.getNext 1
pop this 1
label IF_END0
push constant 0
return
function List.pushBackRandomPole 1
push argument 0
pop pointer 0
push pointer 0
call List.generateRandomPole 1
pop local 0
push pointer 0
push local 0
call List.pushBack 2
pop temp 0
push constant 0
return
function List.removeInvalid 2
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
call Pole.getRight 1
pop local 1
push local 1
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
pop local 0
push this 0
call Pole.getNext 1
pop this 0
push local 0
call Pole.dispose 1
pop temp 0
label IF_FALSE1
push constant 0
return
function List.moveAllPole 1
push argument 0
pop pointer 0
push this 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call Pole.move 1
pop temp 0
push local 0
call Pole.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function List.drawAllPole 1
push argument 0
pop pointer 0
push this 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call Pole.show 1
pop temp 0
push local 0
call Pole.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function List.hideAllPole 1
push argument 0
pop pointer 0
push this 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call Pole.hide 1
pop temp 0
push local 0
call Pole.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
