function Test.test1 4
push constant 410
push constant 64
call Pole.new 2
pop local 0
push constant 14
neg
push constant 34
call Pole.new 2
pop local 1
push constant 500
push constant 144
call Pole.new 2
pop local 2
push local 2
pop local 3
push local 0
call Pole.show 1
pop temp 0
push local 1
call Pole.show 1
pop temp 0
push local 2
call Pole.show 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push local 0
call Pole.hide 1
pop temp 0
push local 2
call Pole.hide 1
pop temp 0
push local 0
call Pole.move 1
pop temp 0
push local 3
call Pole.move 1
pop temp 0
push local 0
call Pole.show 1
pop temp 0
push local 2
call Pole.show 1
pop temp 0
push local 1
call Pole.dispose 1
pop temp 0
push local 2
call Pole.dispose 1
pop temp 0
push local 0
call Pole.dispose 1
pop temp 0
push constant 0
return
function Test.test2 1
push constant 127
push constant 127
push constant 16
call Bee.new 3
pop local 0
push local 0
call Bee.show 1
pop temp 0
push local 0
call Bee.dispose 1
pop temp 0
push constant 0
return
function Test.test3 5
push constant 0
pop local 4
push constant 410
push constant 64
call Pole.new 2
pop local 0
push constant 214
push constant 34
call Pole.new 2
pop local 1
push constant 500
push constant 144
call Pole.new 2
pop local 2
push constant 362
push constant 187
call Pole.new 2
pop local 3
label WHILE_EXP0
push local 4
push constant 6
lt
not
if-goto WHILE_END0
push local 0
call Pole.show 1
pop temp 0
push local 1
call Pole.show 1
pop temp 0
push local 2
call Pole.show 1
pop temp 0
push local 3
call Pole.show 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 0
call Pole.hide 1
pop temp 0
push local 1
call Pole.hide 1
pop temp 0
push local 2
call Pole.hide 1
pop temp 0
push local 3
call Pole.hide 1
pop temp 0
push local 0
call Pole.move 1
pop temp 0
push local 1
call Pole.move 1
pop temp 0
push local 2
call Pole.move 1
pop temp 0
push local 3
call Pole.move 1
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push local 0
call Pole.show 1
pop temp 0
push local 1
call Pole.show 1
pop temp 0
push local 2
call Pole.show 1
pop temp 0
push local 3
call Pole.show 1
pop temp 0
push local 0
call Pole.dispose 1
pop temp 0
push local 1
call Pole.dispose 1
pop temp 0
push local 2
call Pole.dispose 1
pop temp 0
push local 3
call Pole.dispose 1
pop temp 0
push constant 0
return
function Test.test4 6
push constant 0
pop local 5
push constant 410
push constant 64
call Pole.new 2
pop local 1
push constant 215
push constant 34
call Pole.new 2
pop local 2
push constant 500
push constant 144
call Pole.new 2
pop local 3
push constant 362
push constant 187
call Pole.new 2
pop local 4
call List.new 0
pop local 0
push local 0
push local 2
call List.pushBack 2
pop temp 0
push local 0
call List.drawAllPole 1
pop temp 0
push local 0
push local 4
call List.pushBack 2
pop temp 0
push local 0
call List.drawAllPole 1
pop temp 0
push local 0
push local 1
call List.pushBack 2
pop temp 0
push local 0
call List.drawAllPole 1
pop temp 0
push local 0
push local 3
call List.pushBack 2
pop temp 0
push local 0
call List.drawAllPole 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
call List.removeInvalid 1
pop temp 0
push local 0
call List.drawAllPole 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push local 0
call List.hideAllPole 1
pop temp 0
push local 0
call List.moveAllPole 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push local 0
call List.drawAllPole 1
pop temp 0
push local 0
call List.dispose 1
pop temp 0
push constant 0
return
function Test.test5 2
push constant 5093
call Random.setInitSeed 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 11
push constant 200
call Random.dist 2
pop local 0
call Random.getSeed 0
pop local 1
push constant 11
push constant 30
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 9
push constant 30
call Output.moveCursor 2
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Test.test6 3
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call listOfPoles.generateNewPole 0
pop local 2
push local 2
call listOfPoles.pushBack 1
pop temp 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Test.test7 2
push constant 0
pop local 1
push constant 127
push constant 127
push constant 16
call Bee.new 3
pop local 0
label WHILE_EXP0
push local 1
push constant 6
lt
not
if-goto WHILE_END0
push local 0
call Bee.hide 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push local 0
call Bee.move 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 2
call Bee.setState 2
pop temp 0
label WHILE_EXP1
push local 1
push constant 12
lt
not
if-goto WHILE_END1
push local 0
call Bee.move 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Test.test8 2
push constant 127
push constant 127
push constant 4
call Bee.new 3
pop local 0
push local 0
call Bee.show 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 0
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 0
call Output.printInt 1
pop temp 0
call Keyboard.keyPressed 0
pop local 1
push constant 0
push constant 22
call Output.moveCursor 2
pop temp 0
push constant 2
call Output.printInt 1
pop temp 0
push local 1
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
call Bee.setState 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
call Bee.setState 2
pop temp 0
label IF_END0
push local 0
call Bee.move 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Test.test9 7
push constant 127
push constant 127
push constant 4
call Bee.new 3
pop local 0
call List.new 0
pop local 2
push local 0
call Bee.show 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
call Bee.setState 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 2
call Bee.setState 2
pop temp 0
label IF_END0
push local 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label IF_FALSE1
push local 0
call Bee.move 1
pop temp 0
push local 2
call List.hideAllPole 1
pop temp 0
push local 2
call List.moveAllPole 1
pop temp 0
push local 2
call List.removeInvalid 1
pop temp 0
push local 2
call List.drawAllPole 1
pop temp 0
push local 3
push constant 1
add
pop local 3
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 4
call Output.printInt 1
pop temp 0
push local 3
push constant 16
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push constant 2
call Random.dist 2
pop local 5
push local 5
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 3
label IF_FALSE3
label IF_FALSE2
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
